<app-main-nav>
    <div class="group-page">
        <div class="content">
            <h1>Grupo</h1>
            <div class="group-apresentation">
                <img src="{{ groupData['foto'] }}" class="logo-group">
                <div class="info-group">
                    <h1>{{ groupData['nome'] }}</h1>
                    <p class="stat">Grupo {{ groupData['status'] }}</p>
                    <p class="bio">{{groupData['descricao'] }}</p>
                    <p class="adm">Administradores</p>
                    <div class="people">
                        <div class="div-photo">
                            <img class="user-photo" src="../../../assets/abstract-user-flat-4.webp">
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn" (click)="entrarNoGrupo()" *ngIf="joinGroup" >Entrar no grupo</button>
                    <button class="btn" *ngIf="solicitation">Solicitar participação</button>
                    <button class="btn-exit" *ngIf="exitGroup">Sair do grupo</button>
                </div>
            </div>
        </div>
        <app-tabs-group [groupData]="groupData"></app-tabs-group>
        
    </div>
</app-main-nav>
