<app-main-nav [usuario]="usuario">
    <div class="feed-content">
        <div class="main-content">
            <h3>Stories</h3>
            <div class="stories">
                <app-story-user *ngFor="let person of story">
                    <div class="gradient">
                        <img [src]="person.photo" class="inside">
                    </div>
                    <label>{{person.name | userNameMax}}</label>
                </app-story-user>
            </div>
            <div class="hr"></div>
            <h3>Publicações</h3>
            <app-publication
            *ngFor="let post of publications"
            [post]="post"></app-publication>
        </div>
        <div class="suggest">
            <div class="title-suggest">
                <h3>Sugestões de jogos</h3>
                <p>Ver todos</p>
            </div>
            <app-item-suggest
            *ngFor="let game of games"
            [game]="game"></app-item-suggest>
        </div>
    </div>
</app-main-nav>

