<app-main-nav [username]="username">
    <div class="feed-content">
        <div class="main-content">
            <h3>Stories</h3>
            <div class="stories">
                <app-story-user></app-story-user>
                <app-story-user></app-story-user>
                <app-story-user></app-story-user>
                <app-story-user></app-story-user>
            </div>
            <div class="hr"></div>
            <h3>Publicações</h3>
            <app-publication></app-publication>
            <app-publication></app-publication>
        </div>
        <div class="suggest">
            <div class="title-suggest">
                <h3>Sugestões de jogos</h3>
                <p>Ver todos</p>
            </div>
            <app-item-suggest></app-item-suggest>
            <app-item-suggest></app-item-suggest>
            <app-item-suggest></app-item-suggest>
        </div>
    </div>
</app-main-nav>

