h3{
    font-weight: 400;
}

.feed-content{
    display: flex;
    margin: 0 auto;
    max-width: 1115px;

    .main-content{
        width: 100%;
        margin: 1em;
        position: relative;
        .stories{
            display: flex;
            overflow-x: scroll;
            max-width: 725px;
            &::-webkit-scrollbar{
                height: 10px;
            }

            &::-webkit-scrollbar-track{
                background: #201e23;
            } 

            &::-webkit-scrollbar-thumb{
                background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
                border-radius: 20px;
                border: 2px solid #201e23;
            }

            &::-webkit-scrollbar-thumb:hover{
                background: linear-gradient(93.99deg, #491d8f -5.78%, #911d5b 113.82%);
            }

            .gradient{
                background: linear-gradient(45deg, #712DE0, #EB2F93);
                position: relative;
                width: 49px;
                height: 49px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .inside{
                    width: 43px;
                    height: 43px;
                    border-radius: 50%;
                    position: absolute;
                    margin: 0 auto;
                    display: flex;
                    border: 1px solid black;
                    object-fit: cover;
                }
            }
            label{
                font-size: 14px;
                font-weight: 300;
                margin-top: 4px;
            }
        }
    }
    
    .suggest{
        display: none;
        position: fixed;
        left: 100;
        .title-suggest{
            display: flex;
            align-items: center;
            p{
                font-size: 14px;
                font-weight: 300;
                color: #B3B0B8;
                transform: translateY(2.5px);
                margin-left: 8em;
            }
        }
    }
    
}

@media only screen and (min-width: 1100px){
    .feed-content{
        .main-content{
            width: 100%;
            margin: 0;

            .stories{
                overflow-x: hidden;
            }

            .hr{
                max-width: 725px;
            }
        }
        .suggest{
            display: block;
            transform: translate(765px, 20px);
        }
    }
}
