<app-nav-home>
    <div class="home-container">

        <section class="hero-section">
            <img src="../../../assets/blur-effect.svg" class="bg-effect">
            <div class="main-typo">
                <h1>Maior e mais completa comunidade gamer da internet</h1>
                <p>Curta, compartilhe, assista e acompanhe tudo sobre o mundo gamer em um só lugar.</p>
                <button>{{ 'Junte-se agora' | uppercase }}</button>
            </div>
            <img src="../../../assets/hero-iphone-mock.png" class="hero-image">
            <div class="integration">
                <div class="hr"></div>
                <p>Integração com os maiores do mundo gamer</p>
                <div class="company">
                    <img src="../../../assets/face-gaming-logo.svg" class="item">
                    <img src="../../../assets/twitch-logo.svg" class="item">
                    <img src="../../../assets/youtube-logo.svg" class="item">
                    <img src="../../../assets/discord-logo.svg" class="item">
                </div>
            </div>
        </section>

        <div class="egames-number">
            <h3>Confira os números eGames e faça parte você também</h3>
            <div class="active-users">
                <div class="icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_46_227)">
                        <path d="M15.8333 16.6667C19.055 16.6667 21.6667 14.055 21.6667 10.8333C21.6667 7.61168 19.055 5 15.8333 5C12.6117 5 10 7.61168 10 10.8333C10 14.055 12.6117 16.6667 15.8333 16.6667Z" stroke="white" stroke-width="2.6"/>
                        <path d="M3.3335 34V35H28.3335V34C28.3335 30.2663 28.3335 28.3995 27.6069 26.9734C26.9677 25.719 25.9478 24.6991 24.6934 24.0599C23.2673 23.3333 21.4005 23.3333 17.6668 23.3333H14.0002C10.2665 23.3333 8.39966 23.3333 6.97356 24.0599C5.71915 24.6991 4.69927 25.719 4.06012 26.9734C3.3335 28.3995 3.3335 30.2663 3.3335 34Z" stroke="white" stroke-width="2.6"/>
                        <path d="M26.6665 15.8333H36.6665M31.6665 10.8333V20.8333V10.8333Z" stroke="white" stroke-width="2.6"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_46_227">
                        <rect width="40" height="40" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>                        
                </div>
                <div class="typo">
                    <h1>+ <span>650</span> mil</h1>
                    <p>Usuários ativos</p>
                </div>

            </div>
            <div class="creators">
                <div class="icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_46_224)">
                        <path d="M15.8332 3.33331H30.8332L21.6665 15H34.1665L14.1665 36.6666L18.3332 20.8333H6.6665L15.8332 3.33331Z" stroke="white" stroke-width="2.6"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_46_224">
                        <rect width="40" height="40" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>                        
                </div>
                <div class="typo">
                    <h1>+ <span>75</span> mil</h1>
                    <p>Steamers e criadores</p>
                </div>

            </div>
        </div>

        <div class="hr"></div>

        <section class="about-section">
            <div class="experience">
                <img src="../../../assets/publication-mock.png">
                <div class="typo">
                    <img src="../../../assets/share-icon.svg" class="icon">
                    <h2>Uma rede social completa só de gamers</h2>
                    <p>Uma experiência 100% voltada para jogos. Aqui você pode postar sobre suas partidas, acompanhar seu streamer favorito e muito mais.</p>
                </div>
            </div>
            <div class="make-friends">
                <img src="../../../assets/group-mock.png">
                <div class="typo">
                    <img src="../../../assets/people-plus-one.svg" class="icon">
                    <h2>Faça amigos para sua próxima partida</h2>
                    <p>Junte-se em grupos criados por usuários da nossa comunidade e nunca mais jogue sozinho!</p>
                </div>
                <div class="fake-button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_230_931)">
                        <path d="M16.5 19H12C11.4477 19 11 18.5523 11 18V15H16C17.1046 15 18 14.1046 18 13V11H21C21.5523 11 22 11.4477 22 12V18C22 18.5523 21.5523 19 21 19H19.5L18 20.5L16.5 19Z" stroke="white" stroke-width="2"/>
                        <path d="M2 5C2 3.89543 2.89543 3 4 3H16C17.1046 3 18 3.89543 18 5V13C18 14.1046 17.1046 15 16 15H8.5L6.5 17L4.5 15H4C2.89543 15 2 14.1046 2 13V5Z" stroke="white" stroke-width="2"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_230_931">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <p>Grupos</p>
                </div>
            </div>
        </section>
        <footer>
            <div class="upper">
                <div class="links">
                    <ul>
                        <li>Quem somos</li>
                        <li>Perguntas Frequentes</li>
                        <li>Assessoria de Imprensa</li>
                        <li>Carreira <div class="jobs">temos vagas</div></li>
                        <li>Contato</li>
                    </ul>
                </div>

                <div class="about-footer">
                    <img src="../../../assets/eg-positivo.svg" class="logo-footer">
                    <p>Comunidade gamer feita para você ficar por dentro das novidades da industria e também se conectar com outros gamers.</p>
                </div>
            </div>
            <div class="lower">
                <div class="rights-reserved">
                    <p>eGames 2022 - Todos os direitos reservados</p>
                    <p>Termos e Políticas de Privacidade</p>
                </div>

                <div class="newsletter">
                    <div class="fake-button">{{'grátis' | uppercase}}</div>
                    <h2>Assine nossa newsletter</h2>
                    <div class="assinar">
                        <p>Seu melhor email</p>
                        <button>Assinar</button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</app-nav-home>