app-nav-home {
  position: relative;
}

.home-container {
  position: absolute;
  top: 0;
  transform: translateY(-25px);
  max-width: 100vw;
  z-index: -1;
  background-color: #090909;
}
.home-container .hero-section {
  position: relative;
}
.home-container .hero-section .bg-effect {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  top: 0;
  margin: 0;
  transform: scaleX(-1);
  width: 100vw;
  height: 100%;
}
.home-container .hero-section .main-typo {
  margin: 0 1em;
  padding-top: 180px;
}
.home-container .hero-section .main-typo .typo h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  max-width: 683px;
}
.home-container .hero-section .main-typo .typo p {
  font-weight: 300;
}
.home-container .hero-section .main-typo .typo button {
  width: 100%;
  background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
  border-radius: 5px;
  height: 45px;
  max-width: 250px;
  color: white;
  border: none;
  font-size: 17px;
  margin-top: 2em;
  margin-bottom: 3em;
  cursor: pointer;
}
.home-container .hero-section .main-typo .typo button:hover {
  background: linear-gradient(93.99deg, #411a82 -5.78%, #8b1b57 113.82%);
}
.home-container .hero-section .main-typo .hero-image {
  width: 100%;
  max-width: 340px;
  margin: 0 1em;
  display: none;
}
.home-container .hero-section .integration {
  margin: 0 1em;
}
.home-container .hero-section .integration p {
  font-weight: 300;
  color: #c3c3c3;
  margin: 0;
  padding: 2em 0 1em 0;
}
.home-container .hero-section .integration .company {
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-container .hero-section .integration .company .item {
  margin-right: 2em;
}
.home-container .egames-number {
  margin: 1em;
}
.home-container .egames-number h3 {
  font-weight: 700;
  margin: 2em 0;
  max-width: 270px;
}
.home-container .egames-number .active-users {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.home-container .egames-number .active-users .icon {
  border: 0.5px solid rgb(81, 81, 81);
  border-radius: 10px;
  width: 60px;
  height: 60px;
}
.home-container .egames-number .active-users .icon svg {
  width: 30px;
  height: 30px;
  padding: 1em;
  margin: 0 auto;
  transform: translateY(-2px);
}
.home-container .egames-number .active-users .typo {
  margin-left: 1.5em;
}
.home-container .egames-number .active-users .typo h1 {
  font-size: 28px;
  margin: 0;
}
.home-container .egames-number .active-users .typo p {
  margin: 0px;
  font-weight: 300;
  color: #B3B0B8;
}
.home-container .egames-number .creators {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.home-container .egames-number .creators .icon {
  border: 0.5px solid rgb(81, 81, 81);
  border-radius: 10px;
  width: 60px;
  height: 60px;
}
.home-container .egames-number .creators .icon svg {
  width: 30px;
  height: 30px;
  padding: 1em;
  margin: 0 auto;
  transform: translateX(-1px);
}
.home-container .egames-number .creators .typo {
  margin-left: 1.5em;
}
.home-container .egames-number .creators .typo h1 {
  font-size: 28px;
  margin: 0;
}
.home-container .egames-number .creators .typo p {
  margin: 0px;
  font-weight: 300;
  color: #B3B0B8;
}
.home-container .about-section {
  margin: 1em;
  padding: 50px 0;
}
.home-container .about-section .experience {
  padding-bottom: 100px;
}
.home-container .about-section .experience img {
  width: 350px;
  display: flex;
  margin: 0 auto;
}
.home-container .about-section .experience .typo h2 {
  max-width: 300px;
}
.home-container .about-section .experience .typo .icon {
  width: 30px;
}
.home-container .about-section .experience .typo p {
  font-weight: 300;
  color: #B3B0B8;
  max-width: 410px;
}
.home-container .about-section .make-friends img {
  width: 350px;
  margin: 0 auto;
  display: flex;
}
.home-container .about-section .make-friends .typo h2 {
  max-width: 300px;
}
.home-container .about-section .make-friends .typo .icon {
  width: 30px;
}
.home-container .about-section .make-friends .typo p {
  font-weight: 300;
  max-width: 350px;
  color: #B3B0B8;
}
.home-container .about-section .make-friends .fake-button {
  display: flex;
  align-items: center;
  background-color: #212328;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  height: 40px;
  padding: 0 20px;
  margin-top: 45px;
}
.home-container .about-section .make-friends .fake-button p {
  color: #fff;
}
.home-container .about-section .make-friends .fake-button svg {
  margin-right: 6px;
}
.home-container .grid-section {
  position: relative;
  margin: 1em;
}
.home-container .grid-section .bg-effect {
  position: absolute;
  top: 0;
  z-index: 2;
  display: none;
}
.home-container footer {
  background-color: black;
  padding: 1em;
  z-index: 12;
}
.home-container footer .upper {
  margin-bottom: 4em;
}
.home-container footer .upper .links ul {
  padding: 0;
}
.home-container footer .upper .links ul li {
  list-style: none;
  display: flex;
  font-weight: 300;
  transition: 0.5s;
}
.home-container footer .upper .links ul li .jobs {
  background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
  font-size: 11px;
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 20px;
  margin-left: 4px;
}
.home-container footer .upper .links ul li:hover {
  margin-left: 5px;
  cursor: pointer;
}
.home-container footer .upper .about-footer .logo-footer {
  width: 150px;
}
.home-container footer .upper .about-footer p {
  font-weight: 300;
  color: #B3B0B8;
  font-size: 14px;
  max-width: 310px;
}
.home-container footer .lower .rights-reserved p {
  font-size: 12px;
  font-weight: 300;
}
.home-container footer .lower .rights-reserved p:nth-of-type(2) {
  color: #B3B0B8;
  margin-top: -3px;
}
.home-container footer .lower .newsletter .fake-button {
  font-size: 9px;
  font-weight: 300;
  border: 0.5px solid rgb(90, 90, 90);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  padding: 2px 10px;
  margin-bottom: -10px;
}
.home-container footer .lower .newsletter .assinar {
  background-color: #101114;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  max-width: 350px;
  border-radius: 10px;
  margin-top: -10px;
}
.home-container footer .lower .newsletter .assinar button {
  background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
  border: none;
  color: #fff;
  height: 35px;
  padding: 0 20px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.home-container footer .lower .newsletter .assinar button:hover {
  background: linear-gradient(93.99deg, #4a1d93 -5.78%, #a9226a 113.82%);
}
.home-container footer .lower .newsletter .assinar p {
  font-weight: 300;
  margin-left: 30px;
  font-size: 12px;
  color: #d1d1d1;
}

@media only screen and (min-width: 425px) {
  .home-container .hero-section .main-typo {
    margin: 0 2em;
  }
  .home-container .hero-section .integration {
    margin: 0 2em;
  }
  .home-container .about-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2em;
  }
  .home-container .egames-number {
    margin: 1em 2em;
  }
  .home-container .grid-section {
    margin: 1em 2em;
    display: flex;
    justify-content: center;
  }
  .home-container footer {
    padding: 2em;
  }
}
@media only screen and (min-width: 768px) {
  .home-container .hero-section .main-typo {
    display: flex;
  }
  .home-container .hero-section .main-typo .hero-image {
    display: flex;
  }
  .home-container .egames-number {
    display: flex;
    align-items: center;
  }
  .home-container .egames-number h3 {
    margin-right: 1em;
  }
  .home-container .egames-number .active-users {
    margin-bottom: 0;
    margin-right: 1em;
  }
  .home-container .egames-number .creators {
    margin-bottom: 0;
  }
  .home-container .about-section .experience {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .home-container .about-section .experience .typo {
    position: relative;
  }
  .home-container .about-section .experience .typo .icon {
    position: absolute;
    left: 0;
    transform: translateY(-25px);
  }
  .home-container .about-section .make-friends {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .home-container .about-section .make-friends .typo {
    position: relative;
  }
  .home-container .about-section .make-friends .typo .icon {
    position: absolute;
    left: 0;
    transform: translateY(-25px);
  }
  .home-container footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1140px;
  }
  .home-container footer .upper {
    display: flex;
    justify-content: space-between;
  }
  .home-container footer .upper .links ul li {
    margin: 4px 0;
    font-weight: 300;
    font-size: 14px;
  }
  .home-container footer .lower {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1024px) {
  .home-container .hero-section .main-typo {
    margin: 0 4em;
    margin-bottom: -4em;
  }
  .home-container .hero-section .main-typo .typo h1 {
    font-size: 40px;
    max-width: 437px;
    margin-right: 0;
  }
  .home-container .hero-section .main-typo .hero-image {
    display: flex;
    max-width: 450px;
    margin: 0;
    transform: translateY(-50px);
    scale: 1.1;
  }
  .home-container .hero-section .integration {
    margin: 0 4em;
  }
  .home-container .hero-section .integration .hr {
    max-width: 80%;
  }
  .home-container .hero-section .integration .company {
    margin-top: 0.7em;
  }
  .home-container .hero-section .integration .company .item {
    margin-right: 3em;
  }
  .home-container .egames-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 4em;
  }
  .home-container .about-section .experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
  .home-container .about-section .experience img {
    width: 450px;
    margin: 0;
  }
  .home-container .about-section .experience .typo {
    position: relative;
  }
  .home-container .about-section .experience .typo h2 {
    max-width: 350px;
    font-size: 30px;
  }
  .home-container .about-section .experience .typo .icon {
    position: absolute;
    left: 0;
    transform: translateY(-25px);
  }
  .home-container .about-section .make-friends {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
    padding-bottom: 130px;
  }
  .home-container .about-section .make-friends img {
    width: 450px;
    margin: 0;
  }
  .home-container .about-section .make-friends .typo {
    position: relative;
  }
  .home-container .about-section .make-friends .typo h2 {
    max-width: 350px;
    font-size: 30px;
  }
  .home-container .about-section .make-friends .typo .icon {
    position: absolute;
    left: 0;
    transform: translateY(-25px);
  }
  .home-container .grid-section .bg-effect {
    display: flex;
    z-index: -1;
    transform: translateY(-10px);
    width: 100vw;
  }
  .home-container footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1140px;
    z-index: 1;
    padding: 4em;
    margin-top: 6em;
  }
  .home-container footer .upper {
    display: flex;
    justify-content: space-between;
  }
  .home-container footer .upper .links ul li {
    margin: 4px 0;
    font-weight: 300;
    font-size: 14px;
  }
  .home-container footer .lower {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}/*# sourceMappingURL=home-page.component.css.map */