app-nav-home{
    position: relative;
    width: 100%;
}

.home-container{
    position: absolute;
    top: 0;
    transform: translateY(-25px);
    max-width: 100vw;
    width: 100%;
    z-index: -1;
    background-color: #090909;
    .hero-section{
        position: relative;
        .bg-effect{
            position: absolute;
            object-fit: cover;
            z-index: -1;
            top: 0;
            margin: 0;
            transform: scaleX(-1);
            width: 100%;
            height: 100%;
        }

        .main-typo{
            margin: 0 1em;
            padding-top: 180px;
            .typo{
                h1{
                    font-style: normal;
                    font-weight: 700;
                    // font-size: 66px; DESKTPOP
                    // max-width: 724px; DESKTOP
                    font-size: 36px;
                    max-width: 683px;
                }
                p{
                    font-weight: 300;
                }
                button{
                    width: 100%;
                    background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
                    border-radius: 5px;
                    height: 45px;
                    max-width: 250px;
                    color: white;
                    border: none;
                    font-size: 17px;
                    margin-top: 2em;
                    margin-bottom: 3em;
                    cursor: pointer;
    
                    &:hover{
                        background: linear-gradient(93.99deg, #411a82 -5.78%, #8b1b57 113.82%);
                    }
                }
            }
            .hero-image{
                width: 100%;
                max-width: 340px;
                margin: 0 1em;
                display: none;
            }
        }



        .integration{
            margin: 0 1em;
            p{
                font-weight: 300;
                color: #c3c3c3;
                margin: 0;
                padding: 2em 0 1em 0;
            }
            .company{
                padding-bottom: 2em;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .item{
                    margin-right: 2em;
                }
            }
        }
    }

    .egames-number{
        margin: 1em;
        h3{
            font-weight: 700;
            margin: 2em 0;
            max-width: 270px;
        }
        .active-users{
            display: flex;
            align-items: center;
            margin-bottom: 2em;
            .icon{
                border: .5px solid rgb(81, 81, 81);
                border-radius: 10px;
                width: 60px;
                height: 60px;
                svg{
                    width: 30px;   
                    height: 30px;
                    padding: 1em;
                    margin: 0 auto;
                    transform: translateY(-2px);
                }
            }

            .typo{
                margin-left: 1.5em;
                h1{
                    font-size: 28px;
                    margin: 0;
                }
                p{
                    margin: 0px;
                    font-weight: 300;
                    color: #B3B0B8;
                }
            }
        }

        .creators{
            display: flex;
            align-items: center;
            margin-bottom: 2em;
            .icon{
                border: .5px solid rgb(81, 81, 81);
                border-radius: 10px;
                width: 60px;
                height: 60px;
                svg{
                    width: 30px;   
                    height: 30px;
                    padding: 1em;
                    margin: 0 auto;
                    transform: translateX(-1px);
                }
            }

            .typo{
                margin-left: 1.5em;
                h1{
                    font-size: 28px;
                    margin: 0;
                }
                p{
                    margin: 0px;
                    font-weight: 300;
                    color: #B3B0B8;
                }
            }
        }
    }

    .about-section{
        margin: 1em;
        padding: 50px 0;
        .experience{
            padding-bottom: 100px;

            img{
                width: 350px;
                display: flex;
                margin: 0 auto;
            }
            .typo{
                h2{
                    max-width: 300px;
                }
                .icon{
                    width: 30px;
                }
                p{
                    font-weight: 300;
                    color: #B3B0B8;
                    max-width: 410px;
                }
            }
        }

        .make-friends{

            img{
                width: 350px;
                margin: 0 auto;
                display: flex;
            }
            .typo{
                h2{
                    max-width: 300px;
                }
                .icon{
                    width: 30px;
                }
                p{
                    font-weight: 300;
                    max-width: 350px;
                    color: #B3B0B8;
                }
            }
            .fake-button{
                display: flex;
                align-items: center;
                background-color: #212328;
                width: fit-content;
                border-radius: 30px;
                height: 40px;
                padding: 0 20px;
                margin-top: 45px;
                p{
                    color: #fff;
                }
                svg{
                    margin-right: 6px;
                }
            }
        }
    }

    .grid-section{
        position: relative;
        margin: 1em;
        
        .bg-effect{
            position: absolute;
            top: 0;
            z-index: 2;
            display: none;
        }
    }

    footer{
        background-color: black;
        padding: 1em;
        z-index: 12;
        .upper{
            margin-bottom: 4em;
            .links{
                ul{
                    padding: 0;
                    li{
                        list-style: none;
                        display: flex;
                        font-weight: 300;
                        transition: .5s;
                        .jobs{
                            background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
                            font-size: 11px;
                            font-weight: 300;
                            width: fit-content;
                            padding: 2px 10px;
                            border-radius: 20px;
                            margin-left: 4px;
                        }

                        &:hover{
                            margin-left: 5px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .about-footer{
                .logo-footer{
                    width: 150px;

                }
                p{
                    font-weight: 300;
                    color: #B3B0B8;
                    font-size: 14px;
                    max-width: 310px;
                }
            }
        }

        .lower{
            .rights-reserved{
                p{
                    font-size: 12px;
                    font-weight: 300;

                    &:nth-of-type(2){
                        color: #B3B0B8;
                        margin-top: -3px;
                    }
                }
            }

            .newsletter{
                .fake-button{
                    font-size: 9px;
                    font-weight: 300;
                    border: .5px solid rgb(90, 90, 90);
                    width: fit-content;
                    border-radius: 20px;
                    padding: 2px 10px;
                    margin-bottom: -10px;
                }

                .assinar{
                    background-color: #101114;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 45px;
                    max-width: 350px;
                    border-radius: 10px;
                    margin-top: -10px;
                    button{
                        background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
                        border: none;
                        color: #fff;
                        height: 35px;
                        padding: 0 20px;
                        margin-right: 5px;
                        border-radius: 10px;
                        cursor: pointer;


                        &:hover{
                            background: linear-gradient(93.99deg, #4a1d93 -5.78%, #a9226a 113.82%);
                        }
                    }
                    p{
                        font-weight: 300;
                        margin-left: 30px;
                        font-size: 12px;
                        color: #d1d1d1;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 425px){
    .home-container{
        .hero-section{
            .main-typo{
                margin: 0 2em;
            }

            .integration{
                margin: 0 2em;
            }
        }

        .about-section{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 2em;
        }

        .egames-number{
            margin: 1em 2em;
        }

        .grid-section{
            margin: 1em 2em;
            display: flex;
            justify-content: center;
        }

        footer{
            padding: 2em;
        }
    }
}

@media only screen and (min-width: 768px){
    .home-container{
        .hero-section{
            .main-typo{
                display: flex;
                .hero-image{
                    display: flex;
                }
            }
        }

        .egames-number{
            display: flex;
            align-items: center;
            h3{
                margin-right: 1em;
            }

            .active-users{
                margin-bottom: 0;
                margin-right: 1em;
            }

            .creators{
                margin-bottom: 0;
            }
        }

        .about-section{
            .experience{
                display: flex;
                flex-direction: row;
                align-items: center;
                .typo{
                    position: relative;
                    .icon{
                        position: absolute;
                        left: 0;
                        transform: translateY(-25px);
                    }
                }
            }

            .make-friends{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                .typo{
                    position: relative;
                    .icon{
                        position: absolute;
                        left: 0;
                        transform: translateY(-25px);
                    }
                }
            }
        }

        footer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 1140px;

            .upper{
                display: flex;
                justify-content: space-between;
                .links{
                    ul{
                        li{
                            margin: 4px 0;
                            font-weight: 300;
                            font-size: 14px;
                        }
                    }
                }
            }

            .lower{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }
}

@media only screen and (min-width: 1024px){
    .home-container{
        .hero-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .main-typo{
                margin: 0 4em;
                margin-bottom: -4em;
                .typo{
                    h1{
                        font-size: 40px;
                        max-width: 437px;
                        margin-right: 0;
                    }
                }
                .hero-image{
                    display: flex;
                    max-width: 450px;
                    margin: 0;
                    transform: translateY(-50px);
                    scale: 1.1;
                }
            }

            .integration{
                margin: 0 4em;
                width: 90%;
                max-width: 1140px;
                .hr{
                    max-width: 80%;
                }
                .company{
                    margin-top: .7em;
                    .item{
                        margin-right: 3em;
                    }
                }

            }
        }

        .egames-number{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em 4em;
            max-width: 1140px;
            margin: 0 auto;
        }

        .about-section{
            max-width: 1210px;
            .experience{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 2em;
                margin-left: 2em;
                margin-right: 2em;

                img{
                    width: 450px;
                    margin: 0;
                }

                .typo{
                    position: relative;
                    h2{
                        max-width: 350px;
                        font-size: 30px;
                    }
                    .icon{
                        position: absolute;
                        left: 0;
                        transform: translateY(-25px);
                    }
                }
            }

            .make-friends{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                margin: 0 2em;
                padding-bottom: 130px;

                img{
                    width: 450px;
                    margin: 0;
                }

                .typo{
                    position: relative;
                    h2{
                        max-width: 350px;
                        font-size: 30px;
                    }
                    .icon{
                        position: absolute;
                        left: 0;
                        transform: translateY(-25px);
                    }
                }
            }
        }

        .grid-section{
            .bg-effect{
                display: flex;
                transform: translateY(-5vh);
                width: 100vw;
                top: 0;
                position: absolute;
                height: 640px;
            }
        }  

        footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 1140px;
            z-index: 1;
            padding: 4em;
            margin: 0 auto;
            box-shadow: 0 0 0 100vmax #000;
            // clip-path: inset(0 -100vmax);

            .upper{
                display: flex;
                justify-content: space-between;
                padding-top: 4em;
                .links{
                    ul{
                        li{
                            margin: 4px 0;
                            font-weight: 300;
                            font-size: 14px;
                        }
                    }
                }
            }

            .lower{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .home-container{
        .hero-section{
            .main-typo{
                margin: 0;
                max-width: 1140px;
                width: 100%;
                padding-top: 170px;
                .typo{
                    h1{
                        font-size: 56px;
                        max-width: 611px;
                        margin-bottom: 35px;
                    }
                    p{
                        max-width: 420px;
                        font-size: 19px;
                    }
                }

                .hero-image{
                    max-width: 510px;
                    margin: 0;
                    transform: translateY(-22px);
                    scale: 1.1;
                }
            }
            .integration{
                transform: translateY(-75px);
                margin-bottom: -6em;

                .hr{
                    max-width: 70%;
                }

                p{
                    transform: translateY(-18px);
                }

                .company{
                    transform: translateY(-25px);
                }
            }
        }
    }
}

@media only screen and (min-width: 1785px){
    .home-container{
        .hero-section{
            .integration{
                margin-bottom: 4em;
            }
        }
    }
}