<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
        [ngClass]="{hidden: !(isHandset$ | async)}"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar><div class="logo-mobile"><img src="../../../assets/eg-positivo.svg"></div></mat-toolbar>
      <mat-nav-list class="mobile-menu">
        <a class="space" href="#">Home</a>
        <a class="space" href="#">Sobre</a>
        <a class="space" href="#">Funcionalidades</a>
        <button class="signin" routerLink="/login"><mat-icon>person</mat-icon> Entrar</button>
        <button class="signup" routerLink="/cadastro">Cadastrar</button>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="tool-bar">
        <img class="logo" src="../../../assets/eg-positivo.svg" alt="">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
  
        <div class="links-desk">
          <a href="#">Home</a>
          <a href="#">Sobre</a>
          <a href="#">Funcionalidades</a>
          <div class="actions">
            <button class="signin" routerLink="/login"><mat-icon>person</mat-icon> Entrar</button>
            <button class="signup" routerLink="/cadastro">Cadastrar</button>
          </div>
        </div>

        
  
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  