<div mat-button [matMenuTriggerFor]="belowMenu" class="user-menu" >
    <div class="div-photo">
      <a>
        <img *ngIf="usuario['foto'] !== 'foto.png'" class="user-photo" src="{{ usuario['foto'] }}">
        <img *ngIf="usuario['foto'] === 'foto.png'" class="user-photo" src="../../../assets/abstract-user-flat-4.webp">
      </a>
    </div>
    <a>
      <p id="username">{{ usuario['username'] }}</p>
    </a>
</div>
<mat-menu #belowMenu="matMenu" yPosition="below" class="mat-menu">
    <button mat-menu-item routerLink="/profile"><mat-icon>person</mat-icon>Meu perfil</button>
    <button mat-menu-item routerLink="/profile-edit"><mat-icon class="edit">edit</mat-icon>Editar perfil</button>
    <hr id="hrmenufodase">
    <button mat-menu-item (click)="onClickLogout()"><mat-icon>logout</mat-icon>Sair</button>
</mat-menu>