.hr {
  height: 1.5px;
  width: 100%;
  opacity: 10%;
  background-color: white;
  z-index: 9;
}

.progress-label {
  font-weight: 300;
  font-size: 14px;
  margin-top: 25px;
}

.container {
  width: 230px;
  height: 14px;
  background-color: black;
  margin-top: -5px;
  position: relative;
  border-radius: 10px;
}
.container .progress-bar {
  background: linear-gradient(90deg, #712DE0 0%, #FF0088 100%);
  border-radius: 10px;
  height: 5px;
  width: 180px;
  transform: translate(5px, 4px);
}

.profile-content {
  margin: 1em;
}
.profile-content .user-information {
  display: flex;
  flex-direction: column;
}
.profile-content .user-information h1 {
  font-weight: 500;
}
.profile-content .user-information .user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-content .user-information .user-card .photo-name .div-photo {
  background: linear-gradient(45deg, #712DE0, #EB2F93);
  position: relative;
  width: 173px;
  height: 173px;
  border-radius: 50%;
  margin-inline: -5px;
  margin-top: 3em;
  animation: roll infinite 2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-content .user-information .user-card .photo-name .div-photo .profile-image {
  width: 160px;
  min-width: 160px;
  min-height: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: #101110 solid 2px;
  position: absolute;
  animation: antRoll infinite 2s ease-in-out;
}
.profile-content .user-information .user-card .photo-name .div-photo label {
  z-index: 99;
  animation: antRoll infinite 2s ease-in-out;
  width: 160px;
  min-width: 160px;
  min-height: 160px;
  height: 160px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;
  position: absolute;
}
.profile-content .user-information .user-card .photo-name .div-photo label:hover {
  background-image: url(../../../assets/user-edit.svg);
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-content .user-information .user-card .photo-name .div-photo #file {
  width: 160px;
  height: 160px;
  cursor: pointer;
  animation: antRoll infinite 2s ease-in-out;
  z-index: 99;
  opacity: 0;
  border-radius: 50%;
  visibility: hidden;
  background-image: url(../../../assets/group-image-mock.png);
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-content .user-information .user-card .photo-name .div-photo #file:hover {
  opacity: 100%;
}
.profile-content .user-information .user-card .photo-name h2 {
  font-weight: 500;
  text-align: center;
}
.profile-content .user-information .user-card .photo-name .user {
  color: #A7A7A7;
  font-weight: 300;
  text-align: center;
  margin-top: -1.2em;
}
.profile-content .user-information .user-card #back {
  width: 100%;
  background-color: #403C47;
  border-radius: 5px;
  height: 45px;
  max-width: 320px;
  color: white;
  border: none;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
.profile-content .user-information .user-card #back:hover {
  background-color: #26242b;
}
.profile-content .user-information .user-card .stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  margin-top: 1em;
}
.profile-content .user-information .user-card .stats .type p {
  color: #D2D2D2;
}
.profile-content .user-information .user-card .stats .numbers p {
  color: #D2D2D2;
  font-weight: 300;
}
.profile-content .user-information .user-card .about {
  width: 100%;
  max-width: 320px;
}
.profile-content .user-information .user-card .about p {
  font-weight: 300;
  margin-top: -10px;
}
.profile-content .main-content {
  margin: 0 auto;
  max-width: 320px;
}
.profile-content .main-content .main-topic {
  margin-top: 18.72px;
}
.profile-content .main-content form h3 {
  margin-top: 50px;
}
.profile-content .main-content form p {
  display: flex;
  flex-direction: column;
}
.profile-content .main-content form p label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
}
.profile-content .main-content form p input, .profile-content .main-content form p select {
  background-color: #2F2F2F;
  border-radius: 5px;
  border: none;
  height: 45px;
  padding: 0 10px;
  color: #B7B7B7;
}
.profile-content .main-content form p input:focus, .profile-content .main-content form p select:focus {
  outline: #e71cc7 solid 2px;
}
.profile-content .main-content form .buttons {
  margin-bottom: 4em;
}
.profile-content .main-content form .buttons .save {
  width: 100%;
  background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
  border-radius: 5px;
  height: 45px;
  max-width: 320px;
  color: white;
  border: none;
  font-size: 18px;
  margin-top: 1em;
  cursor: pointer;
}
.profile-content .main-content form .buttons .save:hover {
  background: linear-gradient(93.99deg, #411a82 -5.78%, #8b1b57 113.82%);
}
.profile-content .main-content form .buttons .cancel {
  width: 100%;
  background-color: #403C47;
  border-radius: 5px;
  height: 45px;
  max-width: 320px;
  color: white;
  border: none;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
.profile-content .main-content form .buttons .cancel:hover {
  background-color: #26242b;
}

@media only screen and (min-width: 768px) {
  .profile-content .main-content {
    max-width: 650px;
    margin: 0 auto;
  }
  .profile-content .main-content form {
    max-width: 650px;
  }
  .profile-content .main-content form .buttons .save {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .profile-content {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    margin: 0 auto;
  }
  .profile-content .main-content {
    max-width: 730px;
    width: 100%;
    margin-left: 6em;
    margin-top: 1em;
  }
  .profile-content .main-content form .hr {
    width: 730px;
  }
}
@keyframes roll {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes antRoll {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}/*# sourceMappingURL=profile-edit.component.css.map */