<app-main-nav [username]="fetchUsername">
    <div class="profile-content">

        <div class="user-information">
            <h1>Editando perfil</h1>
            <div class="user-card">
                <div class="photo-name">
                    <a>
                        <div class="div-photo">
                            <input type="file" name="file" id="file" (change)="onSelectFile($event)"/>
                            <label for="file"></label>
                            <img [src]="url" class="profile-image">
                        </div>
                    </a>

                    <h2>{{fetchName}}</h2>
                    <p class="user">@{{fetchUsername}}</p>
                </div>
    
                <button type="button" id="back" routerLink="/profile">Voltar ao perfil</button>
    
                <div class="stats">
                    <div class="type">
                        <p>Posts</p>
                        <p>Seguidores</p>
                        <p>Seguindo</p>
                        <p>Grupos</p>
                    </div>
                    <div class="numbers">
                        <p>000</p>
                        <p>000</p>
                        <p>000</p>
                        <p>000</p>
                    </div>
                </div>
    
                <div class="about">
                    <h4>Sobre</h4>
                    <p *ngIf="fetchBio !== '' and fetchBio !== 'None'; else noBio">{{fetchBio}}</p>
                    <ng-template #noBio>
                        Não há nada aqui.
                    </ng-template>
                </div>
            </div>
        </div>
    
        <div class="main-content">
            <h3 class="main-topic">Geral</h3>
            <div class="hr"></div>  
            <form [formGroup]="dataSource" #formEdicao="ngForm" (ngSubmit)="submitEdit()">
                <p>
                    <label for="nome">Nome real</label>
                    <input type="text" name="nome" placeholder="Insira o nome" formControlName="fullname">
                    <span *ngIf="fullname?.errors?.['required'] && formEdicao.submitted" class="alert-cadastro">Insira seu nome</span>
                    <span *ngIf="fullname?.errors?.['minlength'] && formEdicao.submitted && !fullname?.errors?.['pattern']" class="alert-cadastro">O nome deve possuir pelo menos 7 letras</span>
                    <span *ngIf="fullname?.errors?.['pattern'] && formEdicao.submitted" class="alert-cadastro">O nome deve possuir apenas letras</span>
                </p>
                <p>
                    <label for="username">Username</label>
                    <input type="text" name="nome" placeholder="Insira o novo username" formControlName="username">
                    <span *ngIf="username?.errors?.['required'] && formEdicao.submitted" class="alert-cadastro">Insira um username</span>
                    <span *ngIf="username?.errors?.['minlength'] && formEdicao.submitted" class="alert-cadastro">O username deve possuir pelo menos 4 caracteres</span>
                </p>
                <p>
                    <label for="data">Data de nascimento</label>
                    <input type="date" name="data" formControlName="birthdate">
                    <span *ngIf="birthdate?.errors?.['required'] && formEdicao.submitted" class="alert-cadastro">Insira sua data de nascimento</span>
                    <span *ngIf="birthdate?.errors?.['age'] && formEdicao.submitted" class="alert-cadastro">O usuário deve possuir mais de 10 anos</span>
                </p>
    
                <h3>Resumo</h3>
                <div class="hr"></div>
                <p>
                    <label for="bio">Biografia</label>
                    <input type="text" name="bio" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit." formControlName="bio">
                </p>
    
                <h3>Jogo preferido</h3>
                <div class="hr"></div>
                <p>
                    <label for="jogo">Selecione o jogo</label>
                    <select name="jogo" id="jogo" formControlName="game">
                        <option value="CS:GO">CS:GO</option>
                    </select>
                </p>
                <div class="buttons">
                    <button type="submit" class="save" >Salvar informações</button>
                    <button class="cancel" type="button" (click)="openCancelDialog()">Cancelar</button>
                </div>
            </form>
    
    
        </div>
    </div>
</app-main-nav>
