

.hr{
    height: 1.5px;
    width: 100%;
    opacity: 10%;
    background-color: white;
    z-index: 9;

}

.progress-label{
    font-weight: 300;
    font-size: 14px;
    margin-top: 25px;
}
.container{
    width: 230px;
    height: 14px;
    background-color: black;
    margin-top: -5px;
    position: relative;
    border-radius: 10px;

    .progress-bar{
        background: linear-gradient(90deg, #712DE0 0%, #FF0088 100%);
        border-radius: 10px;
        height: 5px;
        width: 180px;
        transform: translate(5px, 4px);
    }
}

.profile-content{
    margin: 1em;

    .user-information{
        display: flex;
        flex-direction: column;

        h1{
            font-weight: 500;
        }

        .user-card{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            .photo-name{
                .profile-image{
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    border: 4px solid #e71cc7;
                    padding: 5px;
                    margin-top: 3em;
                    position: relative;
                }

                h2{
                    font-weight: 500;
                    text-align: center;
                }

                .user{
                    color: #A7A7A7;
                    font-weight: 300;
                    text-align: center;
                    margin-top: -1.2em;
                }
            }


            #back{
                width: 100%;
                background-color: #403C47;
                border-radius: 5px;
                height: 45px;
                max-width: 320px;
                color: white;
                border: none;
                font-size: 18px;
                margin-top: 10px;
                cursor: pointer;

                &:hover{
                    background-color: #26242b;
                }
            }

            .stats{
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 320px;
                margin-top: 1em;
                .type{
                    p{
                        color: #D2D2D2;
                    }
                }
                .numbers{
                    p{
                        color: #D2D2D2;
                        font-weight: 300;
                    } 
                }
            }

            .about{
                width: 100%;
                max-width: 320px;
                p{
                    font-weight: 300;
                    margin-top: -10px;
                }
            }
        }
    }

    .main-content{
        margin: 0 auto;
        max-width: 320px;

        .main-topic{
            margin-top: 18.72px;
        }

        form{
            h3{
                margin-top: 50px;
            }

            p{
                display: flex;
                flex-direction: column;

                label{
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: 300;
                }

                input, select{
                    background-color: #2F2F2F;
                    border-radius: 5px;
                    border: none;
                    height: 45px;

                    padding: 0 10px;
                    color: #B7B7B7;

                    &:focus{
                        outline: #e71cc7 solid 2px;
                    }
                }
            }

            .buttons{
                margin-bottom: 4em;
                .save{
                    width: 100%;
                    background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
                    border-radius: 5px;
                    height: 45px;
                    max-width: 320px;
                    color: white;
                    border: none;
                    font-size: 18px;
                    margin-top: 1em;
                    cursor: pointer;
    
                    &:hover{
                        background: linear-gradient(93.99deg, #411a82 -5.78%, #8b1b57 113.82%);
                    }
                }

                .cancel{
                    width: 100%;
                    background-color: #403C47;
                    border-radius: 5px;
                    height: 45px;
                    max-width: 320px;
                    color: white;
                    border: none;
                    font-size: 18px;
                    margin-top: 10px;
                    cursor: pointer;
    
                    &:hover{
                        background-color: #26242b;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .profile-content{
        .main-content{
            max-width: 650px;
            margin: 0 auto;
            form{
                max-width: 650px;
                .buttons{
                    .save{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 1024px){
    .profile-content{
        display: flex;
        flex-direction: row;
        max-width: 1140px;
        margin: 0 auto;

        .main-content{
            max-width: 730px;
            width: 100%;
            margin-left: 6em;
            margin-top: 1em;

            form{
                .hr{
                    width: 730px;
                }
            }
        }
    }
}