<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Posts">
        <app-publication
        *ngFor="let post of publications"
        [post]="post"></app-publication>
    </mat-tab>
    <mat-tab label="Grupos">
        <app-item-group></app-item-group>
        <app-item-group></app-item-group>
        <a id="create-link" routerLink="/new-group">
            <div class="new-group">
                <svg width="77" height="77" viewBox="0 0 77 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_38_560)">
                    <path d="M62.5623 9.62463H14.4373C11.7794 9.62463 9.62476 11.7793 9.62476 14.4371V62.5621C9.62476 65.22 11.7794 67.3746 14.4373 67.3746H62.5623C65.2201 67.3746 67.3748 65.22 67.3748 62.5621V14.4371C67.3748 11.7793 65.2201 9.62463 62.5623 9.62463Z" stroke="#484848" stroke-width="1.76613" stroke-linejoin="round"/>
                    <path d="M38.5005 25.6653V51.332" stroke="#484848" stroke-width="1.76613" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M25.6655 38.4991H51.3322" stroke="#484848" stroke-width="1.76613" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_38_560">
                    <rect width="77" height="77" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                <p class="label-new-group">Criar novo grupo</p>
            </div>
        </a>
    </mat-tab>
    <mat-tab label="Jogos">
        <p id="games-label">Não há nenhum jogo nesta conta!</p>
    </mat-tab>
</mat-tab-group>

