<div class="publication">
    <div class="user-photo-game">
        <img class="user-photo" src="{{ userFoto }}">
        <div class="user-game">
            <p class="username">@{{ username }}</p>
            <div class="game">
                <p>{{ date | date: "MMM dd, YYYY" }}</p>
            </div>
        </div>
    </div>
    <img class="main-image" src="{{ postImg }}">
    <div class="footer-content">
        <div class="stats">
            <div class="main-stats">
                <div class="like">
                    <img class="like-icon" src="../../../assets/hearth.svg">
                    <p>{{ num_curtidas }}</p>
                </div>
                <div class="comments">
                    <img class="comment-icon" src="../../../assets/conversation-icon.svg">
                    <p>0</p>
                </div>
                <img class="share-icon" src="../../../assets/share-icon.svg">
            </div>
            <p class="time"><span>{{ date | date: "HH:mm" }}</span></p>
        </div>
        <div class="title">
            <p>{{ title | maxLenght}}</p>
        </div>
        <div class="post-comments">
            <p>Ver todos os <span>X</span> comentários</p>
            <app-comment></app-comment>
            <app-comment></app-comment>
        </div>
    </div>

</div>

<div class="hr"></div>
