<div class="publication">
    <div class="user-photo-game">
        <img class="user-photo" src="../../../assets/abstract-user-flat-4.webp">
        <div class="user-game">
            <p class="username">@user</p>
            <div class="game">
                <img src="../../../assets/valorant-logo.webp" class="game-logo">
                <p>Name of the game</p>
            </div>
        </div>
    </div>
    <img class="main-image" src="../../../assets/Rectangle 27.png">
    <div class="footer-content">
        <div class="stats">
            <div class="main-stats">
                <div class="like">
                    <img class="like-icon" src="../../../assets/hearth.svg">
                    <p>000</p>
                </div>
                <div class="comments">
                    <img class="comment-icon" src="../../../assets/conversation-icon.svg">
                    <p>000</p>
                </div>
                <img class="share-icon" src="../../../assets/share-icon.svg">
            </div>
            <p class="time">Há <span>0</span></p>
        </div>
        <div class="title">
            <p>Title here</p>
        </div>
        <div class="post-comments">
            <p>Ver todos os <span>X</span> comentários</p>
            <app-comment></app-comment>
            <app-comment></app-comment>
        </div>
    </div>
</div>