p{
    margin: 0;
}

.publication{
    display: grid;
    margin: 0 auto;
    grid-template-areas: 
                        'username username'
                        'image image'
                        'footer footer';
    margin-bottom: 2em;
    margin-top: 2em;
    .user-photo-game{
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        grid-area: username;
        justify-self: flex-start;
        .user-photo{
            width: 43px;
            height: 43px;
            border-radius: 50%;
            border: 1px solid rgb(116, 116, 116);
            padding: 2px;
            margin-right: 15px;
            object-fit: cover;
            position: relative;
        }
        .user-game{
            display: flex;
            flex-direction: column;

            .username{
                margin-bottom: 5px;
            }

            .game{
                display: flex;
                align-items: center;
                .game-logo{
                    width: 15px;
                    height: 15px;
                    margin-right: 10px;
                }

                p{
                    font-size: 14px;
                    font-weight: 300;
                    color: #B3B0B8;
                }
            }
        }
    }

    .main-image{
        width: 100%;
        max-width: 450px;
        width: 350px;
        height: 230px;
        object-fit: cover;
        grid-area: image;
    }

    .footer-content{
        grid-area: footer;
        .stats{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
            margin-top: 1em;

            .time{
                font-size: 12px;
                font-weight: 300;
                color: #B3B0B8;
                transform: translateY(5px);
            }

            .main-stats{
                display: flex;
                .like{
                    display: flex;
                    align-items: center;
                    img{
                        width: 25px;
                        height: 25px;
                        margin-right: 7px;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .comments{
                    display: flex;
                    align-items: center;
                    img{
                        width: 25px;
                        height: 25px;
                        margin-right: 7px;
                        margin-left: 1em;
                    }
                }

                .share-icon{
                    width: 25px;
                    height: 25px; 
                    margin-right: 7px;
                    margin-left: 1em;
                }
            }
        }

        .title{
            margin: 1em 0;
            text-align: left;

            p{
                width: 340px;
            }
        }

        .post-comments{
            height: 75px;
            width: 100%;
            overflow-y: scroll;
            p{
                font-size: 14px;
                font-weight: 300;
                color: #7C7A80;
            }

            &::-webkit-scrollbar{
                width: 8px;
            }
            &::-webkit-scrollbar-track{
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb{
                background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
                border-radius: 10px;
            }
        }
    }
}

@media only screen and (min-width: 425px){
    .publication{
        max-width: 370px;
    }
}

@media only screen and (min-width: 768px){
    .publication{
        grid-template-areas: 
                        'username image'
                        'footer image'
                        'footer image';
        max-width: 800px;
        width: 100%;

        .main-image{
            margin-left: 2em;
            max-width: 370px;
        }

        .footer-content{
            .title{
                min-width: 220px;
                max-width: 220px;
            }
        }
    }
}

@media only screen and (min-width: 1100px){
    .publication{
        margin: 2em 0;
        max-width: 830px;
        .footer-content{
            width: 100%;
            max-width: 350px;
        }
    }

    .hr{
        max-width: 725px;
    }
}
