
<div class="main-content">
    <h3>Stories</h3>
    <div class="stories">
        <app-story-user></app-story-user>
        <app-story-user></app-story-user>
        <app-story-user></app-story-user>
        <app-story-user></app-story-user>
        <app-story-user></app-story-user>
        <app-story-user></app-story-user>
        <app-story-user></app-story-user>
        <app-story-user></app-story-user>
    </div>
    <hr>
    <h3>Publicações</h3>
    <app-publication></app-publication>
</div>
