.feed-content{
    display: flex;
    margin: 0 auto;
    max-width: 1115px;

    .main-content{
        width: 100%;
        margin: 1em;
        position: relative;
        .stories{
            display: flex;
        }
    }
    
    .suggest{
        display: none;
        position: fixed;
        left: 100;
        .title-suggest{
            display: flex;
            align-items: center;
            p{
                font-size: 14px;
                font-weight: 300;
                color: #B3B0B8;
                transform: translateY(2.5px);
                margin-left: 8em;
            }
        }
    }
    
}

@media only screen and (min-width: 1100px){
    .feed-content{
        .main-content{
            width: 100%;
            margin: 0;
            .hr{
                max-width: 725px;
            }
        }
        .suggest{
            display: block;
            transform: translate(765px, 20px);
        }
    }
}
