<div class="cadastro-page">
    <img src="../../../assets/blur-effect.svg" class="blur-effect">
    <div class="main-content">
        <div class="content">
            <h1>Realize seu cadastro</h1>
            <h3>Preencha suas informações</h3>   
            <div class="hr"></div>
            <form>
                <p>
                    <label for="real-name">Nome real</label>
                    <input type="text" name="real-name" class="input" placeholder="Insira seu nome">
                </p>
                <p>
                    <label for="username">Username</label>
                    <input type="text" name="username" class="input" placeholder="@user">
                </p>
                <p>
                    <label for="date">Data de nascimento</label>
                    <input type="date" name="date" class="input">
                </p>
                <p>
                    <label for="password">Senha</label>
                    <input type="password" name="password" class="input" placeholder="Insira sua senha">
                </p>
                <p>
                    <label for="confirm-password">Confirmar senha</label>
                    <input type="password" name="confirm-password" class="input" placeholder="Insira novamente sua senha">
                </p>
                <button type="submit" class="save">Criar conta</button>
            </form>
        </div>
        
    </div>

    <div class="art-side">
        <img src="../../../assets/eg-positivo.svg" class="logo">
        <img src="../../../assets/cadastro-art.png" class="art">
    </div>
</div>