<div class="group-item" (click)="acessarGrupo()" [ngStyle]="{'cursor': 'pointer'}">
    <img src="{{ group['foto'] }}" class="group-photo">
    <div class="group-info">
        <div class="title-stat">
            <h2>{{ group['nome'] }}</h2>
            <p>{{ group['status'] }}</p>
        </div>
        <p class="desc">
            {{ group['descricao'] }}
        </p>
        <div class="members">
            <p class="members-label"><span>00</span> Membros | <span>00</span> Online</p>
        </div>
    </div>
    <button *ngIf="button">Sair do grupo</button>
</div>
<div class="hr"></div>