<div class="group-item">
    <img src="../../../assets/loud-example.png" class="group-photo">
    <div class="group-info">
        <div class="title-stat">
            <h2>GROUP NAME</h2>
            <p>Grupo privado</p>
        </div>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
        <div class="members">
            <p class="members-label"><span>00</span> Membros | <span>00</span> Online</p>
        </div>
    </div>
    <button *ngIf="button">Sair do grupo</button>
</div>
<div class="hr"></div>