<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><div class="logo-mobile"><img src="../../../assets/eg-positivo.svg"></div></mat-toolbar>
    <mat-nav-list class="mobile-menu">
      <a class="space" routerLink="/feed">Home</a>
      <a class="space" routerLink="/profile">Comunidade</a>
      <a class="space" routerLink="/news">Notícias</a>
      <a (click)="openDialog()">
        <img src="../../../assets/create.svg">
        <p>Criar</p>
      </a>
      <div class="user-menu">
        <app-user-menu-nav [usuario]="usuario"></app-user-menu-nav>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="tool-bar">
      <img class="logo" src="../../../assets/eg-positivo.svg" alt="" routerLink="/feed">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div class="links-desk">
        <a routerLink="/feed">Home</a>
        <a id="com">Comunidade
          <div class="community-content">
            <a routerLink="/new-group">Grupos</a>
          </div>
        </a>
        <a routerLink="/news">Notícias</a>
        <div class="search">
          <img class="search-icon" src="../../../assets/search.svg">
          <input type="text" (click)="menuOpened = true">
          <div class="group-list" [ngClass]="{ 'menu-opened': menuOpened }" (mouseleave)="menuOpened = false">
            <p>Grupos</p>
            <div class="hr"></div>
            <app-search-group *ngFor="let grupo of grupos" [grupo]="grupo"></app-search-group>
          </div>

        </div>
      </div>
      <div class="actions">
        <div class="create">
          <a (click)="openDialog()">
            <img src="../../../assets/create.svg">
            <p>Criar</p>
          </a>
        </div>
        <a class="router-notifications">
          <img class="noti" src="../../../assets/notifications.svg">
        </a>
        <app-user-menu-nav [usuario]="usuario">
        </app-user-menu-nav>
        
      </div>
      

    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
