p{
    margin: 0;
    padding: 0;
}

.item{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
    min-width: 350px;
    .logo-suggest{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 20px;
    }
    .name-category{
        display: flex;
        flex-direction: column;
        margin-right: 8em;

        .genres{
            display: flex;
            flex-wrap: wrap;

            .category{
                font-size: 14px;
                font-weight: 300;
                color: #B3B0B8;
                margin-left: 4px;
            }

        }
        
    }
}

@media only screen and (min-width: 1100px){
    .item{
        margin-left: 1em;
    }

    .hr{
        max-width: 295px;
        transform: translateX(70px);
    }
}
