<div class="grid">
    <div class="item apex">
        <img src="../../../assets/jogo-apex-logo.png">
        <p>38 mil eGames fãs</p>
    </div>
    <div class="item over">
        <img src="../../../assets/jogo-over-logo.png">
        <p>42 mil eGames fãs</p>
    </div>
    <div class="item fifa">
        <img src="../../../assets/jogo-fifa-logo.png">
        <div class="filter"></div>
        <p>87 mil eGames fãs</p>
    </div>
    <div class="item valorant">
        <img src="../../../assets/jogo-valorant-logo.png" class="log">
        <p>95 mil eGames fãs</p>
        <img src="../../../assets/valorant-grid.png" class="champion">
    </div>
    <div class="item dota">
        <img src="../../../assets/jogo-dota-logo.png">
        <p>22 mil eGames fãs</p>
        <img src="../../../assets/dota-grid.png" class="champion">
    </div>
    <div class="item pubg">
        <img src="../../../assets/jogo-pubg-logo.png">
        <p>180 mil eGames fãs</p>
    </div>
    <div class="item egames">
        <img src="../../../assets/jogo-egames-logo.png">
        <h2>Na comunidade eGames todo jogo tem seu espaço. Encontre sua tribo!</h2>
        <button routerLink="/cadastro">Cadastrar agora</button>
    </div>
    <div class="item cs">
        <img src="../../../assets/jogo-cs-logo.png" class="img-cs">
        <p>125 mil eGames fãs</p>
        <div class="filter"></div>
    </div>
    <div class="item roblox">
        <img src="../../../assets/jogo-roblox-logo.png">
        <p>80 mil eGames fãs</p>
    </div>
</div>