.item-container{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
    .logo-game{
        width: 120px;
        height: 150px;
        margin-right: 1em;
        object-fit: contain;
    }

    .info{
        span{
            background: linear-gradient(94.68deg, #712DE0 2.88%, #EB2F93 102.54%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h3{
            font-size: 11pt;
        }

        a{
            text-decoration: none;
            margin-top: -15px;
            color: #7C7A80;

            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        p{
            color: #7C7A80;
            font-size: 10pt;
        }
    }
}

.hr{
    width: 70%;
}