<app-main-nav [usuario]="usuario">
    <div class="profile-content">

        <div class="user-information">
            <h1>Perfil do usuário</h1>
            <div class="user-card">
                <div class="situation">
                    <div class="ball"></div>
                    <p>Online</p>
                </div>
    
                <div class="photo-name">
                    <a>
                        <div class="div-photo">
                            <img *ngIf="usuario['foto'] !== 'foto.png'" src="{{ usuario['foto'] }}" class="profile-image">
                            <img *ngIf="usuario['foto'] === 'foto.png'" src="../../../assets/abstract-user-flat-4.webp" class="profile-image">
                        </div>
                    </a>

                    <h2>{{ usuario['nome'] }}</h2>
                    <p class="user">@{{ usuario['username'] }}</p>
                </div>
    
                <button type="button" class="btn btn-primary" *ngIf="follow">Seguir</button>
                <button type="button" id="edit" routerLink="/profile-edit">Editar perfil</button>
    
                <div class="stats">
                    <div class="type">
                        <p>Posts</p>
                        <p>Seguidores</p>
                        <p>Seguindo</p>
                        <p>Grupos</p>
                    </div>
                    <div class="numbers">
                        <p>000</p>
                        <p>000</p>
                        <p>000</p>
                        <p>000</p>
                    </div>
                </div>
    
                <div class="about">
                    <h4>Sobre</h4>
                    <div *ngIf="usuario['bio'] !== '' && usuario['bio'] !== null && usuario['bio'] !== 'None'; else noBio">{{ usuario['biografia'] }}</div>
                    <ng-template #noBio>
                        Não há nada aqui.
                    </ng-template>
                </div>
            </div>
        </div>
    
        <div class="main-content">
            <h3 class="main-game">Jogo preferido</h3>
            <div class="game-info">
                <img src="../../../assets/cs-background.png" class="game-image">
                <div class="info">
                    <h2>Counter Strike Global Offensive</h2>
                    <p class="category">Ação e aventura</p>
                    <p class="progress">
                        <p class="progress-label">Processo em conquistas <span class="progress-label">0</span> de <span class="progress-label">167</span></p>
                        <div class="container">
                            <div class="progress-bar"></div>
                        </div>
                    
                    <p class="more-info">Ver mais informações 
                        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.916687 1.00003L5.91669 6.00003L0.916687 11" stroke="#B4B4B4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </p>
                </div>
            </div>
    
    
            <div class="profile-router">
                <app-tabs-profile></app-tabs-profile>
                <div class="hr"></div>
            </div>
        </div>
    </div>
</app-main-nav>
