<app-main-nav>
    <div class="new-group">
        <div class="content">
            <h1>Novo grupo</h1>
            <form [formGroup]="dataSource" #novoGrupoForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="geral-container">
                    <h3>Geral</h3>
                    <div class="hr"></div>
                    <p>
                        <label for="group-name">Nome do grupo</label>
                        <input type="text" name="group-name" placeholder="Insira o nome aqui" formControlName="groupName">
                        <span *ngIf="groupName?.errors?.['required'] && novoGrupoForm.submitted" class="alert-cadastro">Insira um nome</span>
                        <span *ngIf="groupName?.errors?.['minlength'] && novoGrupoForm.submitted" class="alert-cadastro">O nome deve possuir pelo menos 3 caracteres</span>
                    </p>
                    <p>
                        <label for="group-desc">Descrição</label>
                        <input type="text" name="group-desc" placeholder="Insira a descrição do grupo" formControlName="groupDescription">
                        <span *ngIf="groupDescription?.errors?.['required'] && novoGrupoForm.submitted" class="alert-cadastro">Insira uma descrição para o grupo</span>
                    </p>
                </div>
                <div class="image-container">
                    <h3>Imagem do grupo</h3>
                    <div class="hr"></div>
                    <div class="mock">
                        <img [src]="url" class="image">
                        <div class="submit-button">
                            <p>Selecione uma imagem com dimensões minimas de 180px x 180px</p>
                            <label for="file">
                                Upload
                           </label>
                           <input type="file" name="file" id="file" style="visibility: hidden;" (change)="onSelectFile($event)" formControlName="groupImage"/>
                           <span *ngIf="groupImage?.errors?.['required'] && novoGrupoForm.submitted" class="alert-cadastro">Insira uma imagem para o grupo</span>

                        </div>
                    </div>
                </div>
                <div class="status-container">
                    <h3>Status</h3>
                    <div class="hr"></div>
                    <p>
                        <label for="group-type">Selecione o tipo do grupo</label>
                        <select name="group-type" id="group-type" formControlName="groupType">
                            <option value="Público">Público</option>
                            <option value="Privado">Privado</option>
                        </select>
                        <span *ngIf="groupType?.errors?.['required'] && novoGrupoForm.submitted" class="alert-cadastro">Selecione um tipo para o grupo</span>
                    </p>
                    <div class="buttons">
                        <button class="save" type="submit">Salvar informações</button>
                        <button class="cancel" type="button" (click)="openCancelDialog()">Cancelar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</app-main-nav>