p, h1, h3, a{
    color: white;
}

.new-group{
    display: flex;
    flex-direction: column;

    .content{
        width: 320px;
        margin: 0 auto;

        h1{
            font-weight: 500;
        }
        form{
            .geral-container{
                h3{
                    font-weight: 400;
                }

                p{
                    display: flex;
                    flex-direction: column;

                    label{
                        margin-bottom: 10px;
                        font-size: 14px;
                        font-weight: 300;
                    }
    
                    input, select{
                        background-color: #2F2F2F;
                        border-radius: 5px;
                        border: none;
                        height: 45px;
    
                        padding: 0 10px;
                        color: #B7B7B7;
    
                        &:focus{
                            outline: #e71cc7 solid 2px;
                        }
                    }
                }
            }

            .image-container{
                .h3{
                    font-weight: 400;
                }
                .hr{
                    margin-bottom: 25px;
                }
                .mock{
                    .image{
                        display: flex;
                        margin: 0 auto;
                        position: relative;
                        max-width: 226px;
                        width: 226px;
                        height: 226px;
                        max-height: 226px;
                        object-fit: cover;
                    }

                    .preview{
                        position: absolute;
                        margin: 0 auto;
                        width: 226px;
                        height: 226px;
                        object-fit: cover;
                        z-index: 99;

                        img{
                            width: 100%;
                            height: 100%;
                            z-index: 99;
                            position: relative;
                            object-fit: cover;
                        }
                    }

                    .submit-button{
                        p{
                            color: #BBBBBB;
                            font-weight: 300;
                            font-size: 20px;
                        }
                        label{
                            display: block;
                            width: 100%;
                            padding: 11.5px 0;
                            background-color: #403C47;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            font-size: 18px;
                            cursor: pointer;
                            text-align: center;

                            &:hover{
                                background-color: #26242b;
                            }
                        }


                    }
                }
            }

            .status-container{
                p{
                    display: flex;
                    flex-direction: column;

                    label{
                        margin-bottom: 10px;
                        font-size: 14px;
                        font-weight: 300;
                    }

                    input, select{
                        background-color: #2F2F2F;
                        border-radius: 5px;
                        border: none;
                        height: 45px;
                        margin-top: 10px;
                        padding: 0 10px;
                        color: #B7B7B7;
    
                        &:focus{
                            outline: #e71cc7 solid 2px;
                        }
                    }
                }

                .buttons{
                    .save{
                        width: 100%;
                        background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
                        border-radius: 5px;
                        height: 45px;
                        max-width: 320px;
                        color: white;
                        border: none;
                        font-size: 18px;
                        margin-top: 1em;
                        cursor: pointer;
        
                        &:hover{
                            background: linear-gradient(93.99deg, #411a82 -5.78%, #8b1b57 113.82%);
                        }
                    }

                    .cancel{
                        width: 100%;
                        background-color: #403C47;
                        border-radius: 5px;
                        height: 45px;
                        max-width: 320px;
                        color: white;
                        border: none;
                        font-size: 18px;
                        margin-top: 10px;
                        cursor: pointer;
        
                        &:hover{
                            background-color: #26242b;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .new-group{
        .content{
            max-width: 700px;
            width: 100%;
            padding: 0 2em;
            form{

                .geral-container{
                    grid-area: geral;
                    max-width: 700px;
                    width: 100%;
                }

                .image-container{
                    grid-area: file;
                    max-width: 700px;
                    .mock{
                        display: flex;
                        align-items: flex-end;
                        .image{
                            margin: 0;
                        }

                        .submit-button{
                            max-width: 300px;
                            margin-left: 1em;
                            transform: translateY(22px);
                            p{
                                transform: translateY(-25px);
                            }
                        }
                    }
                }

                .status-container{
                    grid-area: status;
                    .buttons{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .new-group{
        .content{
            max-width: 1140px;
            width: 100%;
            padding: 0 2em;
            form{
                display: grid;
                grid-template-areas: 
                                    'geral file'
                                    'status file';

                .geral-container{
                    grid-area: geral;
                    max-width: 544px;
                    width: 544px;
                }

                .image-container{
                    grid-area: file;
                    max-width: 550px;
                    margin-left: 4em;
                    min-width: none;
                    .mock{
                        display: flex;
                        align-items: flex-end;
                        .image{
                            margin: 0;
                        }

                        .submit-button{
                            max-width: 300px;
                            margin-left: 1em;
                            transform: translateY(22px);
                            p{
                                transform: translateY(-25px);
                            }
                        }
                    }
                }

                .status-container{
                    grid-area: status;
                    .buttons{
                        .cancel{
                            margin-top: 1em;
                            margin-left: 1em;
                        }
                    }
                }
            }
        }
    }
}