<app-main-nav>
    <div class="noticias-container">
        <div class="main-typo">
            <h1>Notícias</h1>
            <h3>Fique por dentro de todas as atualizações do mundo gamer.</h3>
        </div>

        <div class="most-popular-games">
            <h3>Jogos populares do momento</h3>
            <div class="hr"></div>

            <div class="games">
                <app-popular-item-api 
                *ngFor="let game of popularGames"
                [game]="game"></app-popular-item-api>
            </div>
        </div>

        <div class="secondary">
            <div class="newest">
                <h3>Para você</h3>
                <div class="hr"></div>

                <div class="games-lower">
                    <app-newest-item-api
                    *ngFor="let noticia1 of forU"
                    [noticia1]="noticia1"></app-newest-item-api>
                </div>
            </div>
            <div class="soon">
                <h3>Geral</h3>
                <div class="hr"></div>

                <div class="games-lower">
                    <app-soon-item-api
                    *ngFor="let noticia2 of general"
                    [noticia2]="noticia2"></app-soon-item-api>
                </div>
            </div>
            <div class="anticipated">
                <h3>Reviews </h3>
                <div class="hr"></div>

                <div class="games-lower">
                    <app-anticipated-item-api
                    *ngFor="let review of reviews"
                    [review]="review"></app-anticipated-item-api>
                </div>
            </div>
        </div>
    </div>
</app-main-nav>