.hr{
    height: 1.5px;
    width: 100%;
    opacity: 10%;
    background-color: white;
    z-index: 99;
    margin-bottom: 2em;
}

.noticias-container{
    margin: 1em;
    .main-typo{
        h1{
            font-weight: 500;
        }
        h3{
            font-weight: 300;
            margin-top: -20px;
            margin-bottom: 80px;
        }
    }

    .most-popular-games{
        h3{
            font-weight: 300;
        }
        .games{
            display: flex;
            overflow-x: scroll;
            &::-webkit-scrollbar{
                height: 12px;
            }

            &::-webkit-scrollbar-track{
                background: #201e23;
            } 

            &::-webkit-scrollbar-thumb{
                background: linear-gradient(93.99deg, #712DE0 -5.78%, #EB2F93 113.82%);
                border-radius: 20px;
                border: 2px solid #201e23;
            }

            &::-webkit-scrollbar-thumb:hover{
                background: linear-gradient(93.99deg, #491d8f -5.78%, #911d5b 113.82%);
            }
        }
    }

    .secondary{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 4em;
        .newest{
            width: 100%;
            max-width: 350px;
            margin-bottom: 2em;
            h3{
                font-weight: 300;
            }
        }

        .soon{
            width: 100%;
            max-width: 350px;
            margin-bottom: 2em;
            h3{
                font-weight: 300;
            }
        }

        .anticipated{
            width: 100%;
            max-width: 350px;
            margin-bottom: 2em;
            h3{
                font-weight: 300;
            }
        }
    }



}


@media only screen and (min-width: 720px){
    .noticias-container{
        max-width: 1140px;
        margin: 0 4em auto;
        .secondary{
            .newest{
                margin-right: 1em;
            }

            .soon{
                margin-right: 1em;
            }

            .anticipated{
                margin-right: 1em;
            }
        }
    }
}

@media only screen and (min-width: 1160px){
    .noticias-container{
        margin: 0 auto;
        .secondary{
            .newest{
                max-width: 300px;
                margin-right: 1em;
            }

            .soon{
                margin-right: 1em;
                max-width: 300px;
            }

            .anticipated{
                margin-right: 1em;
                max-width: 300px;
            }
        }
    }
}