<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Visão geral">
        <div class="content-geral">
            <div class="group-name">
                <h1>Sobre GROUP NAME</h1>
                <div class="situation">
                    <div class="ball"></div>
                    <p><span>00</span> Jogadores online</p>
                </div>

            </div>
            <div class="about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus asperiores blanditiis odit.
            </div>
            <div class="members">
                <h3>Membros <span id="total-members">(00)</span></h3>
                <p class="dono">Dono</p>
                <div class="div-photo">
                      <img class="user-photo" src="../../../assets/abstract-user-flat-4.webp">
                </div>
                <div class="adm">Administradores</div>
                <div class="adm-group">
                    <div class="div-photo">
                        <img class="user-photo" src="../../../assets/abstract-user-flat-4.webp">
                    </div>
                    <div class="div-photo">
                        <img class="user-photo" src="../../../assets/abstract-user-flat-4.webp">
                    </div>
                    <div class="div-photo">
                        <img class="user-photo" src="../../../assets/abstract-user-flat-4.webp">
                    </div>
                    <div class="div-photo">
                        <img class="user-photo" src="../../../assets/abstract-user-flat-4.webp">
                    </div>
                </div>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Discussão">
        <div class="discussao-content">
            <h1>Nenhum tópico existente</h1>
            <p>O que você quer buscar na nossa comunidade gamer?</p>
        </div>
    </mat-tab>
</mat-tab-group>