<div class="login-page">
    <img src="../../../assets/blur-effect.svg" class="blur-effect">
    <div class="main-content">
        <div class="content">
            <h1>Bem vindo de volta!</h1>
            <h3>Entre com suas informações</h3>   
            <div class="hr"></div>
            <form [formGroup]="dataSource" (ngSubmit)="submitLogin($event)" #formDir="ngForm">
                <p>
                    <label for="username">Username</label>
                    <input type="text" name="username" class="input" placeholder="Insira seu username" formControlName="username" />
                    <span *ngIf="username?.errors?.['required'] && formDir.submitted">Você deve inserir um username</span>
                    <span *ngIf="username?.errors?.['minlength'] && formDir.submitted">O username deve ter pelo menos 4 letras</span>
                    <span *ngIf="username?.errors?.['Unknown'] && formDir.submitted">Usuário não encontrado</span>
                </p>
                <p>
                    <label for="password">Senha</label>
                    <input type={{inputType}} name="password" class="input" placeholder="Insira sua senha" formControlName="password">
                    <mat-icon (click)="togglePass()" id="eye-icon">{{visibility}}</mat-icon>
                    <span *ngIf="username?.errors?.['required'] && formDir.submitted">Você deve inserir uma senha</span>
                    <span *ngIf="password?.errors?.['InvalidPass'] && formDir.submitted">Senha incorreta</span>
                </p>
                <div class="options">
                    <p class="checkbox">
                        <input type="checkbox">
                        <label>Lembrar de mim</label>
                    </p>
                    <a>Esqueceu a senha?</a>
                </div>
                <button type="submit" class="save">Entrar</button>
            </form>

            <div class="other-way">
                <div class="hr">
                </div>
                <p>Ou continue com</p>
                <div class="hr">
                </div>
            </div>



            <div class="buttons">
                <button>
                    <img src="../../../assets/google.svg" class="icon">
                    <label>Google</label>
                </button>
                <button>
                    <img src="../../../assets/facebook.svg" class="icon">
                    <label>Facebook</label>
                </button>
                <button>
                    <img src="../../../assets/twitter.svg" class="icon">
                    <label>Twitter</label>
                </button>
            </div>
            <p class="not-member">Não é um membro ainda? <span routerLink="/cadastro">Registrar Agora</span></p>
        </div>
        
    </div>

    <div class="art-side">
        <img src="../../../assets/eg-positivo.svg" class="logo">
        <img src="../../../assets/login-art.png" class="art">
    </div>
</div>